# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/
MANIFEST
/PKG-INFO
/SOURCES.txt
/dependency_links.txt
/entry_points.txt
/requires.txt
/top_level.txt

# setuptools_scm generated version file
src/trackin/_version.py

# Testing / coverage
.tox/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Editors / IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# napari
napari-hub-preview.md
